body {
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

header {
    height: 960px;
    background-image: url(/img/house.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
    
}

/*header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
  }*/

nav button {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-left: 50px;

}


.all {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #0F4898;
}

header .logo-white {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: white;
}

.first-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

nav { 
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
}

nav a:not(:last-child) {
    margin-right: 20px;
}

header .e-mail {
    margin-top: 5px;
}

.number, .e-mail{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    display: block;
}

.contacts-header { 
    margin-left: 100px;
    text-align: left;
}

.projects {
    background-color: #F4F4F4;
    padding-top: 50px;
    padding-bottom: 150px;
    width: 865px;
    height: 357px;
}

.slider {
    display: flex;
}

.slide-to-right {
    animation-name: slide-to-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-out-left {
    animation-name: slide-out-from-left;
    animation-duration: 1s;
}

.slide-2 {
    position: absolute;
    display: none;
}

.slide-1 {
    position: absolute;
}

.specification span {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: black;
    padding: 25px 35px 35px 35px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 350px;
    position: relative;
    z-index: 1;
    width: 331px;
}

.exx {
    margin-left: 710px;
    margin-top: -250px;
    object-fit: cover;
    width: 305px;
    height: 322px;
    border-radius: 2px;
}

.heading-projects {
    margin-left: 350px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}



.description {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}


.buttons {
    position: absolute;
    top: 1350px;
    left: 350px;
}

.far {
    font-size: 32px;
    color: #585858;
}

.far:last-of-type {
    margin-left: 3px;
}

.far:hover {
    color: #0F4898;
}

.our-people {
    margin-top: 50px;
    text-align: center;
}



.people-cards {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    
}

.card:not(:last-child) {
    margin-right: 100px;
}

.card {
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.card span {
    display: block;
}

.card img {
    width: 200px;
    height: 143px;
    object-fit: cover;
}

.person-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.work-exp {
    font-family: 'Roboto';
    font-size: 13px;
    color: #2F2C23;
    margin-top: 5px;
}

.person-description {
    width: 200px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
}


.popup {
    position: relative;
    z-index: 2;
    animation-name: visibility;
    animation-duration: 2s;
    text-align: center;
    background-color: white;
    display: flex;
    width: 388px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    gap: 15px;
    padding: 10px 15px 15px;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.invisible {
    display: none;
}

.blackout:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }

.fa-window-close {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: -1px;
    color: brown;
    font-size: 25px;
    border-radius: 5px;
}

.popup-head {
    background-color: #FFBC33;
    text-align: center;
    padding: 10px 15px 10px 15px;
    
    
}
 
label span {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.call-to-action {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #308250;
    border-top: 1px solid #308250;
    padding-top: 5px;
    padding-bottom: 5px;

}

.send-form {
    display: block;
    margin-top: 20px;
    border: none;
    background-color: #33FF82;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
}

.number-question {
    margin-top: 10px;
}

.email-question {
    margin-top: 10px;
}

.popup input {
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgb(120, 120, 120, 0.4);
    border: none;
}


@keyframes visibility {
    from {opacity: 0;}

    to{opacity: 1;}
}

@keyframes slide-to-right {
    to {
        margin-left: 500px;
        opacity: 0;
    }
}

@keyframes slide-out-from-left {
    from {
        margin-left: -260px;
        opacity: 0;
    }



}